@font-face {
    font-family: 'Basis Grotesque Arabic Pro';
    src: url(./fonts/BasisGrotesqueArabicPro-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Basis Grotesque Arabic Pro';
    src: url(./fonts/BasisGrotesqueArabicPro-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Basis Grotesque Arabic Pro';
    src: url(./fonts/BasisGrotesqueArabicPro-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Basis Grotesque Arabic Pro';
    src: url(./fonts/BasisGrotesqueArabicPro-Bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Basis Grotesque Arabic Pro';
    src: url(./fonts/BasisGrotesqueArabicPro-Black.ttf);
    font-weight: 700;
}